<footer>
    <div class="container">
        <p>
            <span>OU «CONSULTING PLUS IMMIGRATION»</span>
             - один из лидеров
            на рынке бизнес-иммиграции в ЕС!
        </p>
        <a href="javascript:void(0)" class="open-confidentiality">Политика конфиденциальности</a>
        <p>РЕГ. №12731938</p>
        <ul class="pay">
            <li><i class="icon-visa-pay-logo1"></i></li>
            <li><i class="icon-mastercard"></i></li>
            <li><i class="icon-bitcoin-logo"></i></li>
        </ul>
        <p class="about">© Все права защищены</p>
    </div>
</footer>