<header>
    <div class="container">
        <div class="mobile">
            <div class="menu">
                <button class="menu_btn c-hamburger c-hamburger--htx">
                    <span></span>
                </button>
            </div>
            <a href="index.html" class="logo"><img src="../img/logo.png"></a>
            <div class="address_menu">
                <button class="menu_btn_address c-hamburger c-hamburger--htx">
                    <i class="icon-call-answer"></i>
                   <span></span>
                </button>
            </div>
        </div>
        <div class="desktop">
            <a href="index.html" class="logo"><img src="../img/logo.png"></a>
            <div class="menu">
                <div class="top">
                    <div class="box">
                        <p>
                            Москва, Большой Кисловский
                            пер., д. 1/12 стр. 2, оф. 309
                        </p>
                        <a class="tel" href="tel:+7 495 733-99-87">+7 495 733-99-87</a>
                    </div>
                    <div class="box">
                        <p>
                            С-Петербург, ул. Садовая д.35
                            офис 413 (БЦ на Сенной)
                        </p>
                        <a class="tel" href="tel:+7 812 494-88-55">+7 812 494-88-55</a>
                    </div>
                </div>
                <div class="bottom">
                    <ul>
                        <li><a href="company.html">О компании</a></li>
                        <li><a href="services.html">Услуги и цены</a></li>
                        <li><a href="payment.html">Оплата</a></li>
                        <li><a href="publications.html">Акции и предложений </a></li>
                        <li><a href="publications.html">Публикации</a></li>
                        <li><a href="contacts.html"> Контакты</a></li>
                    </ul>
                    <a href="javascript:void(0)" class="btn open-order">Заказать звонок</a>
                    <div class="about">
                        <a href="javascript:void(0)"class="open-login"><i class="icon-profile"></i> Вход</a>
                        <span>/</span>
                        <a href="javascript:void(0)" class="open-registration">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="menu_list">
        <div class="menu_item">
            <ul>
                <li><a href="company.html">О компании</a></li>
                <li><a href="services.html">Услуги и цены</a></li>
                <li><a href="payment.html">Оплата</a></li>
                <li><a href="publications.html">Акции и предложений </a></li>
                <li><a href="publications.html">Публикации</a></li>
                <li><a href="contacts.html"> Контакты</a></li>
            </ul>
            <a href="javascript:void(0)" class="btn open-order">Заказать звонок</a>
        </div>
        <div class="menu_bottom">
            <a href="javascript:void(0)" class="open-login"><i class="icon-profile"></i> Вход</a>
            <span>/</span>
            <a href="javascript:void(0)"class="open-registration">Регистрация</a>
        </div>
    </nav>
    <div class="address">
        <div class="box">
            <p>
                Москва, Большой Кисловский
                пер., д. 1/12 стр. 2, оф. 309
            </p>
            <a class="tel" href="tel:+7 495 733-99-87">+7 495 733-99-87</a>
        </div>
        <div class="box">
            <p>
                С-Петербург, ул. Садовая д.35
                офис 413 (БЦ на Сенной)
            </p>
            <a class="tel" href="tel:+7 812 494-88-55">+7 812 494-88-55</a>
        </div>
    </div>
</header>