<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/error.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <section class="error">
        <div class="container">
            <p>ошибка</p>
            <h3>404</h3>
            <p>Страница не найдена</p>
            <a href="#" class="btn">Вернуться на главную</a>
        </div>
    </section>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.radio.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>

</body>

</html>