<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="personalArea.html">личный-кабинет</a></li>
        <li><a href="contacts.html">контакты</a></li>
        <li><a href="company.html">О-компании</a></li>
        <li><a href="payment.html">оплата</a></li>
        <li><a href="publications.html">публикации</a></li>
        <li><a href="articles.html">страница-статьи</a></li>
        <li><a href="services.html">Услуги-и-цены</a></li>
        <li><a href="error.html">404</a></li>
    </ul>
</body>

</html>